<div *ngIf="popup" class="popup">
  <div class="content">
    <p class="title">{{ popup.title | uppercase }}</p>
    <div class="center">
      <input type="text" *ngIf="popup.txt" [(ngModel)]="popup.model" />
    </div>
    <div class="bot">
      <button (click)="annulerPopup()">Annuler</button>
      <button (click)="validatePopup()">Valider</button>
    </div>
  </div>
</div>

<div *ngIf="admin" class="admin">
  <button (click)="reinit()">Reinitialiser</button>
  <button (click)="addPlayer()">Ajouter Joueur</button>
  <button (click)="updateData()">Save Data</button>
</div>

<div class="boutons" *ngIf="data">
  <p *ngIf="joueurDuTour().nom == joueur">C'est mon tour !</p>
  <p *ngIf="joueurDuTour().nom != joueur">Tour de {{ joueurDuTour().nom }}</p>
  <button (click)="loadSiteData()" *ngIf="joueurDuTour().nom != joueur">Actualiser</button>
  <button (click)="piocher()" *ngIf="joueurDuTour().nom == joueur && !pioche">Piocher</button>
  <button (click)="terminertour()" *ngIf="joueurDuTour().nom == joueur && pioche">
    Terminer tour
  </button>
</div>

<div class="carte" [class.red]="isRed()" *ngIf="carte">
  <div class="coin haut-gauche">
    <span class="numero">{{ displayNumero() }}</span>
    <span class="symbole">{{ symbole() }}</span>
  </div>

  <div class="action">
    <p>{{ carte.action }}</p>
  </div>

  <img src="{{ carte.couleur }}/{{ carte.numero }}.png" class="perso" />

  <div class="coin bas-droite">
    <span class="numero">{{ displayNumero() }}</span>
    <span class="symbole">{{ symbole() }}</span>
  </div>
</div>

<div class="carte back" *ngIf="!carte && data && joueurDuTour().nom == joueur">
  <img src="dos.png" class="dos" />
</div>
