@font-face {
  font-family: texte;
  src: url(../public/font.ttf) format('trueType');
}

body {
  background-color: #202020;
  color: white;
  margin: 2vh 2vw;
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  position: relative;
  font-family: 'texte';
  font-size: 20px;
}
p {
  margin: 0;
}
button {
  color: white;
  font-weight: bold;
  background-color: #202020;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 5px black);
}
input {
  width: calc(100% - 40px);
  color: white;
  font-weight: bold;
  background-color: #202020;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 5px black);
}
select {
  width: calc(100% - 40px);
  color: white;
  font-weight: bold;
  background-color: #202020;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 5px black);
  display: flex;
  justify-content: center;
  margin: auto;
}

.admin,
.boutons {
  margin-bottom: 20px;
  button {
    margin: auto;
    display: flex;
  }
  p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
  }
}
.admin {
  display: flex;
  overflow-x: scroll;
  button {
    white-space: nowrap;
    margin: 1vh 2vw;
  }
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  .content {
    width: 76vw;
    position: absolute;
    top: 20vh;
    left: 6vw;
    border: 5px ridge #bbbbbb;
    border-radius: 50px;
    background-color: #202020;
    padding: 5vh 5vw;
    .title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .center {
      margin-bottom: 10px;
    }
    button {
      margin: auto;
      display: flex;
    }
    .each {
      .joueur {
        display: flex;
        p {
          top: 10px;
          width: 30%;
        }
        input {
          width: 70%;
        }
      }
    }
  }
  .bot {
    display: flex;
  }
}

.carte {
  width: calc(50vw - 20px);
  height: 70vw;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 8px;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  left: calc(25vw - 10px);
  filter: drop-shadow(1px 1px 5px black);

  &.back {
    background: unset;
    border-color: transparent;
  }
  &.red {
    color: #d40000;
    .numero {
      color: #d40000;
    }

    .symbole {
      color: #d40000;
    }
  }

  .action {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #202020cc;
    z-index: 3;
    p {
      vertical-align: middle;
      display: table-cell;
      height: 42vh;
      text-align: center;
      color: white !important;
      padding: 0px 20px;
    }
  }

  .dos {
    min-width: calc(100% + 16px);
    height: calc(100% + 16px);
    border-radius: 10px;
  }

  .coin {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px !important;

    .numero {
      font-weight: bold;
      font-size: 40px !important;
      color: black;
    }

    .symbole {
      font-size: 40px !important;
      margin-top: 2px;
      color: black;
    }
  }

  .haut-gauche {
    top: 10px;
    left: 10px;
    filter: drop-shadow(1px 1px 5px white) drop-shadow(1px 1px 5px white)
      drop-shadow(1px 1px 5px white);
    z-index: 2;
  }

  .bas-droite {
    bottom: 10px;
    right: 10px;
    filter: drop-shadow(1px 1px 5px white) drop-shadow(1px 1px 5px white)
      drop-shadow(1px 1px 5px white);
    transform: rotate(180deg);
    z-index: 2;
  }

  .perso {
    object-fit: contain;
    height: 120%;
    top: 10%;
  }
}

.joueurs {
  margin-top: 5vh;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  .joueur {
    border: 1px solid white;
    padding: 10px;
    width: 35%;
    p:nth-child(1) {
      text-align: center;
    }
    p:nth-child(3) {
      border-bottom: 2px solid white;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}
